{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
    {% block content %}
        <!-- Start Section Begin -->
        <section class="start wow fadeIn" data-wow-duration="1s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="d-block mb-3 text-white text-capitalize">Dashboard</h1>
                        <p class="animated fadeInUp mb-5">Welcome, {{ user.first_name|capfirst }}😘!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Section End -->

        <section class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 py-5">
                                    <div class="exams-head py-5 text-center">
                                        <h1>Exams</h1>
                                    </div>
                                    <!-- Card Begin -->
                                    <div class="card-box col-12 m-0 p-0 wow fadeIn" data-wow-duration="1s">
                                        <div class="card">
                                            <!-- Content Area Begin -->
                                            <div class="card-content p-4">
                                                <!-- Exam Name -->
                                                <h4 class="card-title">امتحان شامل 3</h4><br>

                                                <!-- Start Button -->
                                                <a href="{% url 'BassemFirsts01' %}"  class="join-teacher btn btn-solid-border btn-round-full">Start</a>
                                            </div>
                                            <!-- Content Area End -->
                                        </div>
                                    </div>
                                    <!-- Card End -->
                                    <!-- Card Begin -->
                                    <div class="card-box col-12 m-0 p-0 wow fadeIn" data-wow-duration="1s">
                                        <div class="card">
                                            <!-- Content Area Begin -->
                                            <div class="card-content p-4">
                                                <!-- Exam Name -->
                                                <h4 class="card-title">امتحان شامل 4</h4><br>

                                                <!-- Start Button -->
                                                <a href="{% url 'BassemFirsts02' %}"  class="join-teacher btn btn-solid-border btn-round-full">Start</a>
                                            </div>
                                            <!-- Content Area End -->
                                        </div>
                                    </div>
                                    <!-- Card End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
    {% endblock content %}