{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
    {% block content %}
        <section class="latest mt-5">
            <div class="w-100 text-center">
                <h1>Latest Videos</h1>
            </div>
            <div class="latest-videos slider m-5">
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
            </div>
        </section>

        <section class="subjects mt-5">
            <div class="container">
                <ul class="d-flex justify-content-center nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-maintab1-tab" data-toggle="pill" href="#pills-maintab1"
                            role="tab" aria-controls="pills-maintab1" aria-selected="true">الصف الأول الثانوي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab2-tab" data-toggle="pill" href="#pills-maintab2" role="tab"
                            aria-controls="pills-maintab2" aria-selected="false">الصف الثاني الثانوي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab3-tab" data-toggle="pill" href="#pills-maintab3" role="tab"
                            aria-controls="pills-maintab3" aria-selected="false">الصف الثالث الثانوي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab4-tab" data-toggle="pill" href="#pills-maintab4" role="tab"
                            aria-controls="pills-maintab4" aria-selected="false">النحو</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab5-tab" data-toggle="pill" href="#pills-maintab5" role="tab"
                            aria-controls="pills-maintab5" aria-selected="false">البلاغة</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab6-tab" data-toggle="pill" href="#pills-maintab6" role="tab"
                            aria-controls="pills-maintab6" aria-selected="false">المتحرر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab7-tab" data-toggle="pill" href="#pills-maintab7" role="tab"
                            aria-controls="pills-maintab7" aria-selected="false">ارتق</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab8-tab" data-toggle="pill" href="#pills-maintab8" role="tab"
                            aria-controls="pills-maintab8" aria-selected="false">دقيقتين وبس</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab9-tab" data-toggle="pill" href="#pills-maintab9" role="tab"
                            aria-controls="pills-maintab9" aria-selected="false">تكات نحوية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab10-tab" data-toggle="pill" href="#pills-maintab10"
                            role="tab" aria-controls="pills-maintab10" aria-selected="false">تحفيزي ومنوع</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maintab1" role="tabpanel"
                        aria-labelledby="pills-maintab1-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab1-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab1" role="tab" aria-controls="pills-maintab1-subtab1"
                                    aria-selected="true">نحو</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab2" role="tab" aria-controls="pills-maintab1-subtab2"
                                    aria-selected="false">بلاغة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab3" role="tab" aria-controls="pills-maintab1-subtab3"
                                    aria-selected="false">متحرر</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab4-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab4" role="tab" aria-controls="pills-maintab1-subtab4"
                                    aria-selected="false">أدب</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab5-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab5" role="tab" aria-controls="pills-maintab1-subtab5"
                                    aria-selected="false">منوعات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab6-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab6" role="tab" aria-controls="pills-maintab1-subtab6"
                                    aria-selected="false">تحفيزي</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab1-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">اولي ثانوي نحو</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">اولي ثانوي بلاغة</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">اولي ثانوي متحرر</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab4" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab4-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">اولي ثانوي أدب</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab5" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab5-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">اولي ثانوي منوعات</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab6" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab6-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">اولي ثانوي تحفيزي</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab2" role="tabpanel" aria-labelledby="pills-maintab2-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab2-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab1" role="tab" aria-controls="pills-maintab2-subtab1"
                                    aria-selected="true">نحو</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab2" role="tab" aria-controls="pills-maintab2-subtab2"
                                    aria-selected="false">بلاغة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab3" role="tab" aria-controls="pills-maintab2-subtab3"
                                    aria-selected="false">متحرر</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab4-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab4" role="tab" aria-controls="pills-maintab2-subtab4"
                                    aria-selected="false">أدب</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab5-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab5" role="tab" aria-controls="pills-maintab2-subtab5"
                                    aria-selected="false">منوعات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab6-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab6" role="tab" aria-controls="pills-maintab2-subtab6"
                                    aria-selected="false">تحفيزي</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab2-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثاني الثانوي نحو</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثاني الثانوي بلاغة</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثاني الثانوي متحرر</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab4" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab4-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثاني الثانوي أدب</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab5" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab5-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثاني الثانوي منوعات</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab6" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab6-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثاني الثانوي تحفيزي</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab3" role="tabpanel" aria-labelledby="pills-maintab3-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab3-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab1" role="tab" aria-controls="pills-maintab3-subtab1"
                                    aria-selected="true">نحو</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab2" role="tab" aria-controls="pills-maintab3-subtab2"
                                    aria-selected="false">بلاغة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab3" role="tab" aria-controls="pills-maintab3-subtab3"
                                    aria-selected="false">متحرر</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab4-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab4" role="tab" aria-controls="pills-maintab3-subtab4"
                                    aria-selected="false">أدب</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab5-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab5" role="tab" aria-controls="pills-maintab3-subtab5"
                                    aria-selected="false">منوعات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab6-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab6" role="tab" aria-controls="pills-maintab3-subtab6"
                                    aria-selected="false">تحفيزي</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab3-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثالث الثانوي نحو</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab3-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثالث الثانوي بلاغة</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab3-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle"> الصف الثالث الثانوي متحرر</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab3-subtab4" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab4-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثالث الثانوي أدب</h2>
                                    </article>
                                </section>
                            </div>
                            <!-- <div class="tab-pane fade" id="pills-maintab3-subtab5" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab5-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثالث الثانوي منوعات</h2>
                                    </article>
                                </section>
                            </div> -->
                            <div class="tab-pane fade" id="pills-maintab3-subtab6" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab6-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">الصف الثالث الثانوي تحفيزي</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab4" role="tabpanel" aria-labelledby="pills-maintab4-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab4-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab4-subtab1" role="tab" aria-controls="pills-maintab4-subtab1"
                                    aria-selected="true">دقيقتين وبس</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab4-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab4-subtab2" role="tab" aria-controls="pills-maintab4-subtab2"
                                    aria-selected="false">تكات نحوية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab4-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab4-subtab3" role="tab" aria-controls="pills-maintab4-subtab3"
                                    aria-selected="false">إعراب</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab4-subtab4-tab" data-toggle="pill"
                                    href="#pills-maintab4-subtab4" role="tab" aria-controls="pills-maintab4-subtab4"
                                    aria-selected="false">متنوع</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab4-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab4-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">نحو دقيقتين وبس</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab4-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab4-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">نحو تكات نحوية</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab4-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab4-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">نحو إعراب</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab4-subtab4" role="tabpanel"
                                aria-labelledby="pills-maintab4-subtab4-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">نحو متنوع</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab5" role="tabpanel" aria-labelledby="pills-maintab5-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab5-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab5-subtab1" role="tab" aria-controls="pills-maintab5-subtab1"
                                    aria-selected="true">دقيقتين وبس</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab5-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab5-subtab2" role="tab" aria-controls="pills-maintab5-subtab2"
                                    aria-selected="false">دروس بلاغة</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab5-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab5-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">بلاغة دقيقتين وبس</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab5-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab5-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">بلاغة دروس بلاغة</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab6" role="tabpanel" aria-labelledby="pills-maintab6-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab6-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab6-subtab1" role="tab" aria-controls="pills-maintab6-subtab1"
                                    aria-selected="true">ارتق</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab6-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab6-subtab2" role="tab" aria-controls="pills-maintab6-subtab2"
                                    aria-selected="false">متنوع</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab6-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab6-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">المتحرر ارتق</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab6-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab6-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">المتحرر متنوع</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab7" role="tabpanel" aria-labelledby="pills-maintab7-tab">
                        <section class="second">
                            <article class="video">
                                <figure>
                                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                                            class="videoThumb"
                                            src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                </figure>
                                <h2 class="videoTitle"> ارتق</h2>
                            </article>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab8" role="tabpanel" aria-labelledby="pills-maintab8-tab">
                        <section class="second">
                            <article class="video">
                                <figure>
                                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                                            class="videoThumb"
                                            src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                </figure>
                                <h2 class="videoTitle">دقيقتين وبس</h2>
                            </article>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab9" role="tabpanel" aria-labelledby="pills-maintab9-tab">
                        <section class="second">
                            <article class="video">
                                <figure>
                                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                                            class="videoThumb"
                                            src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                </figure>
                                <h2 class="videoTitle">تكات نحوية</h2>
                            </article>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab10" role="tabpanel"
                        aria-labelledby="pills-maintab10-tab">
                        <section class="second">
                            <article class="video">
                                <figure>
                                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                                            class="videoThumb"
                                            src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                </figure>
                                <h2 class="videoTitle">تحفيزي ومتنوع</h2>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        {% endblock content %}
