{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
	{% block content %}
        <!-- Start Section Begin -->
        <section class="start wow fadeIn" data-wow-duration="1s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="d-block mb-3 text-white text-capitalize">404 Not found</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Section End -->
    {% endblock content %}