{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
	{% block content %}
		<!-- Start Section Begin -->
		<section class="start about-start wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="d-block mb-3 text-white text-capitalize">{% translate "About Us" %}💖</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Section End -->

		<!-- About Intro Section Begin -->
		<section class="about-intro position-relative">
			<!-- About Intro Content Begin -->
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 p-5 p-lg-0">
						<div class="about-item wow fadeIn" data-wow-duration="1s">
							<!-- About Title Begin -->
							<span class="h1 text-color">{% translate "Mission & Vision" %}</span>
							<!-- About Title End -->

							<!-- About Content Begin -->
							<div class="about-content">
								<!-- <h4 class="mb-3 position-relative">Benha Team</h4> -->
								<p class="mb-5">{% blocktrans %}
								Whoever you are, whoever you think you are, believe also your name is Mohammed. You're a Smart Student. You are smarter than most of your Class. You want to finish up school early to be free but you can't. Still stuck in School for years before getting your degree. With Al3wn we can Speed this proess up.
								Our Mission to be the first and last resort for student to learn by providing the full courses of the enitre learning years with the exams every course provide and in the end getting the degree not in a specfic time. But in the time of your completion of the course.
								Long story short, with Al3wn you will be able to finish a 4,5 or 7 years of Schools in much lower time.
								{% endblocktrans %}
								</p>
								<a href="#" class="btn btn-main btn-round-full">{% translate "Learn More" %}</a>
							</div>
							<!-- About Content End -->
						</div>
					</div>
				</div>
			</div>
			<!-- About Intro Content End -->

			<!-- About Intro Image Begin -->
			<div class="bg-about-intro wow fadeIn" data-wow-duration="1s"></div>
			<!-- About Intro Image End -->
		</section>
		<!-- About Intro Section End -->

		<!-- Team Section Begin -->
		<section class="team about-team wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="team-header w-100 text-center py-5">
					<h1 class="text-uppercase font-weight-bold">{% translate "Our Incredible Team" %}💪</h1>
				</div>
				<!-- Team Slider Begin -->
				<div class="team-slider row wow fadeIn" data-wow-duration="1s">
					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/1.jpg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100004644972188"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/Ahmed_Abo_6"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="https://www.linkedin.com/in/ahmed-abo-8b343b1a4/"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Ahmed M. Abo 6" %}</h3>
								<span class="post">{% translate "Founder/Chairman/IT Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Membar End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/2.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/fatokaaa"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="https://twitter.com/fatmaahmedf221"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Fatma Ahmed Hassan" %}</h3>
								<span class="post">{% translate "HR Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/3.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mahamed.ahmed.5095"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/in/mas-gd-1931931a4"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Mohammed Ahmed Saber" %}</h3>
								<span class="post">{% translate "Co-Founder / Marketing (MGD) Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/6.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/asmaa.ragab.52206"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Asmaa Ragab" %}</h3>
								<span class="post">{% translate "TD Head (Treasury Department)" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/4.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100002177917115"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/_MostafaMarie"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="www.linkedin.com/in/mostafa-marie-014303177"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Mostafa Mohamed Marie" %}</h3>
								<span class="post">{% translate "Co-Founder /Specialties Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/5.jpg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Abdelrahman M. Nabil" %}</h3>
								<span class="post">{% translate "Counselor/Co-Founder" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End --> 

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/7.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/nogahassan110"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.twitter.com/Nagwa90331077"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Nagwa Ibrahim" %}</h3>
								<span class="post">{% translate "Marketing" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/8.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mohmmed.rfaat123"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.twitter.com/mohmmed13959277"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Mohamed Refaat" %}</h3>
								<span class="post">{% translate "PR" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->  

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/9.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/nayra.wael"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="https://twitter.com/ElnoOon_78?s=08"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Nayra Wael" %}</h3>
								<span class="post">{% translate "PR" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->   

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/10.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100009711669926"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Ashraf Atef" %}</h3>
								<span class="post">{% translate "IT" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End --> 

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/11.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/maryam.wahba.92"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/MaryamM05289288?s=09"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Maryam Mahmoud" %}</h3>
								<span class="post">{% translate "IT" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->   

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/12.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mostafa.mokhtar.946"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/_mostafamokhtar?s=08"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Mostafa Mokhtar" %}</h3>
								<span class="post">{% translate "HR" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->       
				</div>
				<!-- Team Slider End -->
			</div>
		</section>
		<!-- Team Section End -->

		<!-- Partners Section Begin -->
		<section class="partners wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<!-- Partners Section Head -->
				<h2 class="py-5">{% translate "Our Partners" %}</h2>

				<!-- Partners -->
				<section class="customer-logos slider">
					<div class="slide">
						<a href="https://www.facebook.com/Brainean"><img src="{% static 'core/images/BRAINEAN.png' %}"></a>
					</div>
					<div class="slide">
						<a href="https://www.facebook.com/doctor.zahran"><img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/38405437_297689560780746_8151087203200532480_n.jpg?_nc_cat=110&_nc_sid=174925&_nc_ohc=pJakAtKR5A8AX-FkKrf&_nc_ht=scontent-hbe1-1.xx&oh=af74acc1c166433c5c3f15103b8454ac&oe=5FAAD91C"></a>
					</div>

					
				</section>
			</div>
		</section>
		<!-- Partners Section End -->
	{% endblock content %}