{% extends "core/base.html" %}
{% load static %}
	{% block content %}
		<!-- Start Section Begin -->
		<section class="start about-start wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="d-block mb-3 text-white text-capitalize">About</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Section End -->

		<!-- About Intro Section Begin -->
		<section class="about-intro position-relative">
			<!-- About Intro Content Begin -->
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 p-5 p-lg-0">
						<div class="about-item wow fadeIn" data-wow-duration="1s">
							<!-- About Title Begin -->
							<span class="h1 text-color">Lorem, ipsum dolor.</span>
							<!-- About Title End -->

							<!-- About Content Begin -->
							<div class="about-content">
								<h4 class="mb-3 position-relative">ipsum dolor</h4>
								<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum debitis
									dolorum earum fugiat, fuga dolor nisi. Quidem, distinctio voluptates? Ea ad quia
									laudantium modi deleniti excepturi praesentium incidunt quod quis.</p>
								<a href="#" class="btn btn-main btn-round-full">Learn More</a>
							</div>
							<!-- About Content End -->
						</div>
					</div>
				</div>
			</div>
			<!-- About Intro Content End -->

			<!-- About Intro Image Begin -->
			<div class="bg-about-intro wow fadeIn" data-wow-duration="1s"></div>
			<!-- About Intro Image End -->
		</section>
		<!-- About Intro Section End -->

		<!-- About Timeline Begin -->
		<section class="TimeLine">
			<div class="container">
				<!-- Timeline Header Begin -->
				<div class="timeline-head w-100 text-center py-5">
					<h3 class="card-title wow fadeIn" data-wow-duration="1s">Timeline</h3>
				</div>
				<!-- Timeline Header End -->

				<div class="row">
					<div class="col-md-12">
						<!-- Timeline Begin -->
						<div class="main-timeline">
							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->
						</div>
						<!-- Timeline End -->
					</div>
				</div>
			</div>
		</section>
		<!-- About Timeline End -->

		<!-- Team Section Begin -->
		<section class="team about-team wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="team-header w-100 text-center py-5">
					<h1 class="text-uppercase font-weight-bold">Our Incredible Team</h1>
				</div>
				<!-- Team Slider Begin -->
				<div class="team-slider row wow fadeIn" data-wow-duration="1s">
					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/1.jpg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100004644972188"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/Ahmed_Abo_6"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="https://www.linkedin.com/in/ahmed-abo-8b343b1a4/"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Ahmed M. Abo 6</h3>
								<span class="post">Founder/Chairman/IT Head</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Membar End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/2.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/fatokaaa"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="https://twitter.com/fatmaahmedf221"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Fatma Ahmed Hassan</h3>
								<span class="post">HR Head</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/3.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mahamed.ahmed.5095"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/in/mas-gd-1931931a4"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Mohammed Ahmed Saber</h3>
								<span class="post">Co-Founder / Marketing (MGD) Head</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/6.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/asmaa.ragab.52206"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Asmaa Ragab</h3>
								<span class="post">TD Head (Treasury Department)</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/4.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100002177917115"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/_MostafaMarie"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="www.linkedin.com/in/mostafa-marie-014303177"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Mostafa Mohamed Marie</h3>
								<span class="post">Co-Founder /Specialties Head</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/5.jpg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Abdelrahman M. Nabil </h3>
								<span class="post">Counselor/Co-Founder</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End --> 

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/7.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/nogahassan110"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.twitter.com/Nagwa90331077"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Nagwa Ibrahim</h3>
								<span class="post">Marketing</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/8.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mohmmed.rfaat123"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.twitter.com/mohmmed13959277"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Mohamed Refaat</h3>
								<span class="post">PR</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->  

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/9.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/nayra.wael"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="https://twitter.com/ElnoOon_78?s=08"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Nayra Wael</h3>
								<span class="post">PR</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->   

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/10.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100009711669926"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Ashraf Atef</h3>
								<span class="post">IT</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End --> 

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/11.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/maryam.wahba.92"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/MaryamM05289288?s=09"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Maryam Mahmoud</h3>
								<span class="post">IT</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->   

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/12.jpeg' %}">

								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mostafa.mokhtar.946"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/_mostafamokhtar?s=08"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">Mostafa Mokhtar</h3>
								<span class="post">HR</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->       
				</div>
				<!-- Team Slider End -->
			</div>
		</section>
		<!-- Team Section End -->

		<!-- Partners Section Begin -->
		<section class="partners wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<!-- Partners Section Head -->
				<h2 class="py-5">Our Partners</h2>

				<!-- Partners -->
				<section class="customer-logos slider">
					<div class="slide">
						<a href="https://www.facebook.com/Brainean"><img src="{% static 'core/images/BRAINEAN.png' %}"></a>
					</div>

					
				</section>
			</div>
		</section>
		<!-- Partners Section End -->
	{% endblock content %}