{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
	{% block content %}
  <section id="birth">
            
            <div class="card-birth">
                <img src="https://raw.githubusercontent.com/DenverCoder1/Responsive-Birthday-Card/main/birthday.svg"
                    alt="birthday" class="birthday">
                <h1>Happy Birthday! ({{ tday }})</h1>
            </div>
            <div class="cards">
                {% for i in date %}
                <div class="card">
                    <!-- Image Area Begin -->
                    <div class="card-img" style="background-image: url({{ i.profile.image.url }});"></div>
                    <!-- Image Area End -->

                    <!-- Content Area Begin -->
                    <div class="card-content">
                        <!-- Teacher Name -->
                        <h4 style="color: red" class="card-username">Username: {{ i.username }}</h4>

                        <h4 class="card-name">Name: {{i.get_full_name}}</h4>
                        {% if i.gender == "Female" %}
                            <h4 style="color: green" class="card-gender">Gender: {{ i.gender }}</h4>
                        {% else %}
                            <h4 class="card-gender">Gender: {{ i.gender }}</h4>
                        {% endif %}

                        <h4 class="card-year">Birth Year: {{ i.date_of_birth.year }}</h4>

                        <h4 class="card-ID">National ID: {{ i.national_id|floatformat:'-0' }}</h4>

                        <a href="https://wa.me/20{{ i.phone_number|floatformat:'-0' }}" class="whatsapp btn btn-solid-border btn-round-full">WhatsApp Link</a>
                    </div>
                    <!-- Content Area End -->
                </div>
                {% endfor %}
            </div>
        </section>
    {% endblock content %}
