{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
	{% block content %}
  <section id="birth">
            
            <div class="card-birth">
                <img src="https://raw.githubusercontent.com/DenverCoder1/Responsive-Birthday-Card/main/birthday.svg"
                    alt="birthday" class="birthday">
                <h1>Happy Birthday! ({{ tday }}) {{ count }}</h1>
            </div>
            <div class="cards">
                {% for i in date %}
                <div class="card">
                    <!-- Image Area Begin -->
                    <div class="card-img" style="background-image: url({{ i.profile.image.url }});"></div>
                    <!-- Image Area End -->

                    <!-- Content Area Begin -->
                    <div class="card-content">
                        <!-- Teacher Name -->
                        <h4 style="color: red" class="card-username">Username: {{ i.username }}</h4>

                        <h4 class="card-name">Name: {{i.get_full_name}}</h4>
                        {% if i.gender == "Female" %}
                            <h4 style="color: green" class="card-gender">Gender: {{ i.gender }}</h4>
                        {% else %}
                            <h4 class="card-gender">Gender: {{ i.gender }}</h4>
                        {% endif %}

                        <h4 class="card-year">Birth Year: {{ i.date_of_birth.year }}</h4>

                        <h4 class="card-ID">National ID: {{ i.national_id|floatformat:'-0' }}</h4>

                        <a href="https://wa.me/20{{ i.phone_number|floatformat:'-0' }}" class="whatsapp btn btn-solid-border btn-round-full">WhatsApp Link</a>
                    </div>
                    <!-- Content Area End -->
                </div>
                {% endfor %}
                {% if is_paginated %}
                                    <!-- Pagination Begin -->
                                    <div class="col-12 wow fadeIn" data-wow-duration="1s">
                                        <ul class="pagination justify-content-center">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                                                </li>
                                            {% endif %}

                                            {% for num in page_obj.paginator.page_range %}
                                                {% if page_obj.number == num %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>

                                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <!-- Pagination End -->
                                    {% endif %}
            </div>
        </section>
    {% endblock content %}
