{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
	{% block content %}
		<!-- Start Section Begin -->
		<section class="start wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="d-block mb-3 text-white text-capitalize">{% translate "AL3WN" %}</h1>
						<p class="animated fadeInUp mb-5">{% translate "Invitation for all of us to learn." %}<br>{% translate "Learning with al-3wn is" %} <span class="typer" data-words="{% translate 'simple,enjoyable,meet your needs.' %}" data-delay="120" data-deleteDelay="2000" data-loop="true"></span>
							<span class="cursor" data-owner="main"></span>
						</p>
						<a href="{% url 'Register' %}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full">{% translate "Join Now" %} </a>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Section End -->

		<!-- Intro Section Begin -->
		<section class="intro">
			<div class="container">
				<div class="row ">
					<!-- Intro Head Begin -->
					<div class="col-12">
						<div class="section-title wow fadeIn" data-wow-duration="1s">
							<span class="h3 text-color ">{% translate "What we provide?" %}</span>
							<h2 class="mt-3 content-title">{% translate "We provide three packages contain our service and programs" %}
							</h2>
						</div>
					</div>
					<!-- Intro Head End -->
				</div>
				<div class="row justify-content-center">
					<!-- Feature Begin -->
					<div class="feature col-lg-4 col-md-6 col-9 wow fadeIn" data-wow-duration="1s">
						<div class="intro-item mb-5 mb-lg-0">
							<!-- <i class="fa fa-medium"></!-->
							<h4 class="mt-4 mb-3">{% translate "silver" %}</h4>
							<p>{% translate "Automate your exams instead of paper based we provide an online exams." %}</p>
						</div>
					</div>
					<!-- Feature End -->

					<!-- Feature Begin -->
					<div class="feature col-lg-4 col-md-6 col-9 wow fadeIn" data-wow-duration="1s">
						<div class="intro-item mb-5 mb-lg-0">
							<!-- <i class="fa fa-bar-chart"></i> -->
							<h4 class="mt-4 mb-3">{% translate "Gold" %}</h4>
							<p>{% translate "Monitor your students degrees and have a Progress Chart for them." %}</p>
						</div>
					</div>
					<!-- Feature End -->

					<!-- Feature Begin -->
					<div class="feature col-lg-4 col-md-6 col-9 wow fadeIn" data-wow-duration="1s">
						<div class="intro-item">
							<!-- <i class="ti-info-alt color-one"></i> -->
							<h4 class="mt-4 mb-3">{% translate "Diamond" %}</h4>
							<p>{% translate "Keep in touch with the parents as they can see how their son is doing." %}</p>
						</div>
					</div>
					<!-- Feature End -->
				</div>
			</div>
		</section>
		<!-- Intro Section END -->

				<!-- Secondary Section Begin -->
				<section class="secondary position-relative">
					<!-- Secondary Content Begin -->
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-6 offset-12 offset-lg-6 offset-md-0 p-5 p-lg-0">
								<div class="secondary-item wow fadeIn" data-wow-duration="1s">
									<span class="h1 text-color">{% translate "Secondary Schools" %}</span>
									<div class="secondary-content">
										<p class="mb-5">{% translate "If you are in the secondary school, this section could not help you more." %}<br>{% translate "With Al3wn we provide all the necessary assistance for you." %}</p>
										<a href="{% url 'Secondary' %}" class="btn btn-main btn-round-full">{% translate "Learn More" %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Secondary Content End -->
		
					<!-- Secondary Image Begin -->
					<div class="bg-secondary wow fadeIn" data-wow-duration="1s"></div>
					<!-- Secondary Image End -->
				</section>
				<!-- Secondary Section End -->
		

		<!-- Plan Section Begin -->
		<section class="plan position-relative">
			<!-- Plan Image Begin -->
			<div class="bg-plan wow fadeIn" data-wow-duration="1s"></div>
			<!-- Plan Image End -->

			<!-- Plan Content Begin -->
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 p-5 p-lg-0">
						<div class="plan-item wow fadeIn" data-wow-duration="1s">
							<span class="h1 text-color">{% translate "What our plan?" %}</span>
							<div class="plan-content">
								<h4 class="mb-3 position-relative">{% translate "The Plan" %}</h4>
								<p class="mb-5">{% translate "Our plan is a group of stages that shows the current stage and when it is completed the new stage appears." %} <br>{% translate " if you are curious to know more about us, our team and our plan." %}</p>
								<a href="{% url 'Stage1' %}" class="btn btn-main btn-round-full">{% translate "Learn More" %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Plan Content End -->
		</section>
		<!-- Plan Section End -->

		<!-- Team Section Begin -->
		<section class="team">
			<div class="container">
				<div class="team-header w-100 text-center py-5">
					<h1 class="text-uppercase font-weight-bold">{% translate "Our Incredible Team" %}</h1>
				</div>
				<!-- Team Slider Begin -->
				<div class="team-slider row wow fadeIn" data-wow-duration="1s">
					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/1.jpg' %}">
								
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100004644972188"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/Ahmed_Abo_6"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="https://www.linkedin.com/in/ahmed-abo-8b343b1a4/"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Ahmed M. Abo 6" %}</h3>
								<span class="post">{% translate "Founder/Chairman/IT Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Membar End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/2.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/fatokaaa"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="https://twitter.com/fatmaahmedf221"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Fatma Ahmed Hassan" %}</h3>
								<span class="post">{% translate "HR Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/3.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/mahamed.ahmed.5095"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/in/mas-gd-1931931a4"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Mohammed Ahmed Saber" %}</h3>
								<span class="post">{% translate "Co-Founder / Marketing (MGD) Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/6.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/asmaa.ragab.52206"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Asmaa Ragab" %}</h3>
								<span class="post">{% translate "TD Head (Treasury Department)" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div>
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/4.jpeg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="https://www.facebook.com/profile.php?id=100002177917115"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/_MostafaMarie"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="www.linkedin.com/in/mostafa-marie-014303177"><i
												class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Mostafa Mohamed Marie" %}</h3>
								<span class="post">{% translate "Co-Founder /Specialties Head" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->

					<!-- Team Member Begin -->
					<div class="col-12">
						<div class="our-team">
							<div class="team_img">
								<!-- Member Image -->
								<img src="{% static 'core/images/5.jpg' %}">
								<div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">ex</span> </div>
								<!-- Member Social Media -->
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>

							<!-- Member Details Begin -->
							<div class="team-content">
								<h3 class="title">{% translate "Abdelrahman M. Nabil" %} </h3>
								<span class="post">{% translate "Counselor/Co-Founder" %}</span>
							</div>
							<!-- Member Details End -->
						</div>
					</div> 
					<!-- Team Member End -->      
				</div>
				<!-- Team Slider End -->
			</div>
		</section>
		<!-- Team Section End -->

	{% endblock content %}