{% extends "core/base.html" %}
{% load static %}
	{% block content %}
		<!-- Start Section Begin -->
		<section class="start wow fadeIn" style="background-image: url({% static 'core/images/pricestart.jpg' %});" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="d-block mb-3 p-5 text-white text-capitalize">Prices</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Section End -->

		<!-- Price Section Begin -->
		<section class="Prices">
			<!-- Price Section Head Begin -->
			<div class="price-head text-center w-75 m-auto wow fadeIn" data-wow-duration="1s">
				<h1 class="font-weight-bolder display-4">Our Prices</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis sint ratione esse velit modi
					maxime deserunt nisi, dignissimos ducimus eius perferendis architecto laboriosam eos neque atque
					totam harum cupiditate.</p>
			</div>
			<!-- Price Section Head End -->

			<!-- Price Tables Begin -->
			<div class="pricing pricing-palden wow fadeIn" data-wow-duration="1s">
				<!-- Price Item Begin -->
				<div class="pricing-item">
					<!-- Price Item Head Begin -->
					<div class="pricing-deco">
						<svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
							preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
							xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"
							xmlns="http://www.w3.org/2000/svg" y="0px">
							<path class="deco-layer deco-layer--1"
								d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--2"
								d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--3"
								d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;	H42.401L43.415,98.342z"
								fill="#FFFFFF" opacity="0.7"></path>
							<path class="deco-layer deco-layer--4"
								d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
								fill="#FFFFFF"></path>
						</svg>
						<!-- Past Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span><del>30</del>
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Recent Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span>29
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Price Title -->
						<h3 class="pricing-title">Price1</h3>
					</div>
					<!-- Price Item Head End -->

					<!-- Price List Begin -->
					<ul class="pricing-feature-list">
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-times"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-times"></i> Lorem, ipsum dolor.</li>
					</ul>
					<!-- Price List End -->

					<!-- Price Button -->
					<button class="pricing-action">Choose plan</button>
				</div>
				<!-- Price Item End -->

				<!-- Price Item Begin -->
				<div class="pricing-item">
					<!-- Price Item Head Begin -->
					<div class="pricing-deco">
						<svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
							preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
							xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"
							xmlns="http://www.w3.org/2000/svg" y="0px">
							<path class="deco-layer deco-layer--1"
								d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--2"
								d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--3"
								d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;	H42.401L43.415,98.342z"
								fill="#FFFFFF" opacity="0.7"></path>
							<path class="deco-layer deco-layer--4"
								d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
								fill="#FFFFFF"></path>
						</svg>
						<!-- Past Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span><del>30</del>
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Recent Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span>29
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Price Title -->
						<h3 class="pricing-title">Price2</h3>
					</div>
					<!-- Price Item Head End -->

					<!-- Price List Begin -->
					<ul class="pricing-feature-list">
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-times"></i> Lorem, ipsum dolor.</li>
					</ul>
					<!-- Price List End -->

					<!-- Price Button -->
					<button class="pricing-action">Choose plan</button>
				</div>
				<!-- Price Item End -->

				<!-- Price Item Begin -->
				<div class="pricing-item pricing__item--featured">
					<!-- Price Item Head Begin -->
					<div class="pricing-deco">
						<svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
							preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
							xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"
							xmlns="http://www.w3.org/2000/svg" y="0px">
							<path class="deco-layer deco-layer--1"
								d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--2"
								d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--3"
								d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;	H42.401L43.415,98.342z"
								fill="#FFFFFF" opacity="0.7"></path>
							<path class="deco-layer deco-layer--4"
								d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
								fill="#FFFFFF"></path>
						</svg>
						
						<!-- Past Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span><del>30</del>
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Recent Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span>59
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Price Title -->
						<h3 class="pricing-title">Price3</h3>
					</div>
					<!-- Price Item Head End -->

					<!-- Price List Begin -->
					<ul class="pricing-feature-list">
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
					</ul>
					<!-- Price List End -->

					<!-- Price Button -->
					<button class="pricing-action">Choose plan</button>
				</div>
				<!-- Price Item End -->

				<!-- Price Item Begin -->
				<div class="pricing-item">
					<!-- Price Item Head Begin -->
					<div class="pricing-deco">
						<svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
							preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
							xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"
							xmlns="http://www.w3.org/2000/svg" y="0px">
							<path class="deco-layer deco-layer--1"
								d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--2"
								d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
								fill="#FFFFFF" opacity="0.6"></path>
							<path class="deco-layer deco-layer--3"
								d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;	H42.401L43.415,98.342z"
								fill="#FFFFFF" opacity="0.7"></path>
							<path class="deco-layer deco-layer--4"
								d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
								fill="#FFFFFF"></path>
						</svg>

						<!-- Past Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span><del>30</del>
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Recent Price -->
						<div class="pricing-price"><span class="pricing-currency">EGP</span>99
							<span class="pricing-period">/ mo</span>
						</div>

						<!-- Price Title -->
						<h3 class="pricing-title">Price4</h3>
					</div>
					<!-- Price Item Head End -->

					<!-- Price List Begin -->
					<ul class="pricing-feature-list">
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
						<li class="pricing-feature"><i class="fa fa-check"></i> Lorem, ipsum dolor.</li>
					</ul>
					<!-- Price List End -->

					<!-- Price Button -->
					<button class="pricing-action">Choose plan</button>
				</div>
				<!-- Price Item End -->
			</div>
			<!-- Price Tables End -->
		</section>
		<!-- Price Section End -->

		<!-- Separator Section Begin -->
		<section class="p2 wow fadeIn" data-wow-duration="1s">
			<a href="#" data-cont="Photography + Individual">Photography + Individual</a>
		</section>
		<!-- Separator Section End -->

		<!-- Offer Section Begin -->
		<section class="offer p-5 m-5">
			<div class="comparison table-responsive d-flex col-12 justify-content-center align-items-center">
				<!-- Individual Table Begin -->
				<table class="table table-bordered text-center mx-4 wow fadeIn" data-wow-duration="1s">
					<thead>
						<tr>
							<th scope="col" colspan="2">Individual</th>
						</tr>
						<tr>
							<th scope="col">Offer Name</th>
							<th scope="col">Offer Price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>
						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>

						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>

						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>
					</tbody>
				</table>
				<!-- Individual Table End -->

				<!-- Photography Table Begin -->
				<table class="table table-bordered mx-4 text-center wow fadeIn" data-wow-duration="1s">
					<thead>
						<tr>
							<th scope="col" colspan="2">Photography</th>
						</tr>
						<tr>
							<th scope="col">Offer Name</th>
							<th scope="col">Offer Price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>
						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>

						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>

						<tr>
							<td>Mult-Choise Question</td>
							<td><del>60 EGP</del> 50 EGP</td>
						</tr>
					</tbody>
				</table>
				<!-- Photography Table End -->
			</div>
			
			<!-- Offer Content Begin -->
			<div class="contect-buy text-center wow fadeIn" data-wow-duration="1s">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae alias, tempore nulla quisquam
					ratione voluptates.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
			<!-- Offer Content End -->
		</section>
		<!-- Offer Section End -->
    {% endblock content %}