{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
  {% block content %}
    <!-- Start Section Begin -->
    <section class="start wow fadeIn" data-wow-duration="1s" style="background-image: url({% static 'core/images/secondary.jpg' %});">
      <div class="container pt-md-5">
        <div class="row pt-md-5">
          <div class="col-12 pt-md-5">
            <h1 class="d-block mb-3 text-white text-capitalize">{% translate "AL3WN" %}</h1>
            <p class="animated fadeInUp">{% translate "Secondary School Teachers" %}<br></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Start Section End -->

    <!-- Card List Section Begin -->
    <section class="card-list row px-sm-5">
      <!-- Card List Head Begin -->
      <div class="col-12 text-center p-5 wow fadeIn" data-wow-duration="1s">
        <h1>{% translate "Teachers" %}</h1>
      </div>
      <!-- Card List Head End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/GH.png' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Deutsch Akademie" %}</h4>
            <br>
            <a href="#"><div id="rate1"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their German (Deutsch) abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'HerrShady1' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "First Year" %}</a>
            <a href="{% url 'HerrShady2' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Second Year" %}</a>
            <a href="{% url 'HerrShady3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/halem.jpg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Mohammed Abdel Halem" %}</h4>
            <br>
            <a href="#"><div id="rate2"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their Arabic abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'Halem3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/AliRashed.jpeg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Herr Ali Rashed" %}</h4>
            <br>
            <a href="#"><div id="rate3"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their German (Deutsch) abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'HerrAli1' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "First Year" %}</a>
            <a href="{% url 'HerrAli2' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Second Year" %}</a>
            <a href="{% url 'HerrAli3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/ehab.jpg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Mr. Ehab El Shafey" %}</h4>
            <br>
            <a href="#"><div id="rate4"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their English abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'Ehab2' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Second Year" %}</a>
            <a href="{% url 'Ehab3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->
      <!--  -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/HerrM.jpeg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Herr Mohammed Abdel Atty" %}</h4>
            <br>
            <a href="#"><div id="rate5"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their German (Deutsch) abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'HerrM1' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "First Year" %}</a>
            <a href="{% url 'HerrM2' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Second Year" %}</a>
            <a href="{% url 'HerrM3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div id="BassemBadr" class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/basem.jpeg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "Gold" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Bassem Badr" %}</h4>
            <br>
            <a href="#"><div id="rate6"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their Arabic abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'Bassem1' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "First Year" %}</a>
            <a href="{% url 'Bassem2' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Second Year" %}</a>
            <a href="{% url 'Bassem3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
            <a href="{% url 'BassemYoutube' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Youtube" %}</a>
            <a href="{% url 'BassemVideos' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Videos" %}</a>
            <a href="{% url 'BassemUp' %}" class="join-teacher btn btn-solid-border btn-round-full">ارتقٍ  .</a>
            <a href="{% url 'BassemPerfect' %}" class="join-teacher btn btn-solid-border btn-round-full">أتقن</a>
            <a href="{% url 'BassemInnovate' %}" class="join-teacher btn btn-solid-border btn-round-full">أبدع</a>
            <a href="{% url 'BassemRead' %}" class="join-teacher btn btn-solid-border btn-round-full">أقرأ</a>
            
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/HerrKhaled.jpg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">هير/ خالد بخيت</h4>
            <br>
            <a href="#"><div id="rate7"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their German (Deutsch) abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'HerrBakheet1' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "First Year" %}</a>
            <a href="{% url 'HerrBakheet2' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Second Year" %}</a>
            <a href="{% url 'HerrBakheet3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div id="EhabGaber" class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url({% static 'core/images/EhabGaber.jpg' %});">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "silver" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Ehab Gaber" %}</h4>
            <br>
            <a href="#"><div id="rate9"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their Geology abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'EhabGaber3' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Third Year" %}</a>
            
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->

      <!-- Card Begin -->
      <div class="card-box col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s">
        <div class="card">
          <!-- Image Area Begin -->
          <div class="card-img" style="background-image: url(https://scontent-hbe1-1.xx.fbcdn.net/v/t31.0-8/12697156_1698704173718658_8130524581477810298_o.jpg?_nc_cat=106&ccb=2&_nc_sid=730e14&_nc_eui2=AeHP40IVVVTv3FtfKuhcy4qeb7B1nr3WWuRvsHWevdZa5MMamRmSYxITaimThNeG5X0GFMNhXPgO24O1kCxiq3rU&_nc_ohc=M7eqKabiZscAX-FTfHa&_nc_ht=scontent-hbe1-1.xx&oh=aec8da7f081577892b1e04b7da658cb1&oe=601AE9A8);">
            <!-- Teacher Status -->
            <div class="card-img-overlay"><span class="badge badge-pill badge-warning px-4 py-1">{% translate "Gold" %}</span> </div>
          </div>
          <!-- Image Area End -->

          <!-- Content Area Begin -->
          <div class="card-content">
            <!-- Teacher Name -->
            <h4 class="card-title">{% translate "Mohammed Abdel Hamed" %}</h4>
            <br>
            <a href="#"><div id="rate8"></div></a>
            <!-- Teacher Location -->
            <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i> {% translate "Benha , Qalubyia" %}</p>
            
            <!-- Teacher Description -->
            <p class="card-description">{% translate "My object is to create an excellent learning environment and to help each student to improve their Arabic abilities." %}</p>
            
              <!-- Start Button -->
            <a href="{% url 'Login' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Prep First Year" %}</a>
            <a href="{% url 'Login' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Prep Second Year" %}</a>
            <a href="{% url 'Login' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Prep Third Year" %}</a>
            <a href="{% url 'Login' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Sec First Year" %}</a>
            <a href="{% url 'Login' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Sec Second Year" %}</a>
            <a href="{% url 'Login' %}" class="join-teacher btn btn-solid-border btn-round-full">{% translate "Sec Third Year" %}</a>
          </div>
          <!-- Content Area End -->
        </div>
      </div>
      <!-- Card End -->
      <script type="text/javascript" defer>
        ( function ( $ ) {
          $( "#rate1" ).rateYo( {
            rating: 3.6,
            readOnly: true
          } );
          $( "#rate2" ).rateYo( {
            rating: 0,
            readOnly: true
          } );
          $( "#rate3" ).rateYo( {
            rating: 3,
            readOnly: true
          } );
          $( "#rate4" ).rateYo( {
            rating: 4,
            readOnly: true
          } );
          $( "#rate5" ).rateYo( {
            rating: 3.2,
            readOnly: true
          } );
          $( "#rate6" ).rateYo( {
            rating: 3.6,
            readOnly: true
          } );
          $( "#rate7" ).rateYo( {
            rating: 4,
            readOnly: true
          } );
          $( "#rate8" ).rateYo( {
            rating: 5,
            readOnly: true
          } );
          $( "#rate9" ).rateYo( {
            rating: 3.6,
            readOnly: true
          } );
        } )( jQuery );
      </script>
      <!-- Pagination Begin -->
      <div class="col-12 wow fadeIn" data-wow-duration="1s">
        <ul class="pagination justify-content-center">
          <!-- <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li> -->
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li> -->
          <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          <!-- <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li> -->
        </ul>
      </div>
      <!-- Pagination End -->
    </section>
    <!-- Card List Section End -->
    {% endblock content %}
