{% extends "core/base.html" %}
{% load static %}
	{% block content %}
		<!-- Start Section Begin -->
		<section class="start stage-start wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="d-block mb-3 text-white text-capitalize">Plan - Stage 1</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Section End -->

		<!-- Stage Intro Section Begin -->
		<section class="stage-intro position-relative">
			<!-- Stage Intro Content Begin -->
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 p-5 p-lg-0">
						<div class="stage-item wow fadeIn" data-wow-duration="1s">

							<span class="h1 text-color">Lorem, ipsum dolor.</span>
							<div class="stage-content">
								<h4 class="mb-3 position-relative">ipsum dolor</h4>
								<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum debitis
									dolorum earum fugiat, fuga dolor nisi. Quidem, distinctio voluptates? Ea ad quia
									laudantium modi deleniti excepturi praesentium incidunt quod quis.</p>
								<a href="#" class="btn btn-main btn-round-full">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Stage Intro Content End -->

			<!-- Stage Intro Image Begin -->
			<div class="bg-stage-intro wow fadeIn" data-wow-duration="1s"></div>
			<!-- Stage Intro Image End -->
		</section>
		<!-- About Intro Section End -->

		<!-- About Timeline Begin -->
		<section class="TimeLine">
			<div class="container">
				<!-- Timeline Header Begin -->
				<div class="timeline-head w-100 text-center py-5 wow fadeIn" data-wow-duration="1s">
					<h3 class="card-title">Timeline</h3>
				</div>
				<!-- Timeline Header End -->

				<div class="row">
					<div class="col-md-12">
						<!-- Timeline Begin -->
						<div class="main-timeline">
							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">March 20, 2020</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">Title of section 1</h3>
									<p class="description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
										pulvinar suscipit.
									</p>
									<h6 class="thank">Thanks to : lorem</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->
						</div>
						<!-- Timeline End -->
					</div>
				</div>
			</div>
		</section>
		<!-- About Timeline End -->

		<br><br>
    {% endblock content %}