{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
	{% block content %}
		<!-- Start Section Begin -->
		<section class="start stage-start wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="d-block mb-3 text-white text-capitalize">{% translate "First Stage" %}✔</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Section End -->

		<!-- Stage Intro Section Begin -->
		<section class="stage-intro position-relative">
			<!-- Stage Intro Content Begin -->
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 p-5 p-lg-0">
						<div class="stage-item wow fadeIn" data-wow-duration="1s">

							<span class="h1 text-color">{% translate "Our Approach" %}</span>
							<div class="stage-content">
								<h4 class="mb-3 position-relative">{% translate "Benha Team" %}</h4>
								<p class="mb-5">{% translate "A youth organization its goal to facilitate the educational process in Egypt by keeping up with modern technology to reach assistance to all students with the least capabilities and The fastest and simplified methods.Let us all learn in the right way" %}.</p>
								<a href="{% url 'About' %}" class="btn btn-main btn-round-full">{% translate "Learn More" %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Stage Intro Content End -->

			<!-- Stage Intro Image Begin -->
			<div class="bg-stage-intro wow fadeIn" data-wow-duration="1s"></div>
			<!-- Stage Intro Image End -->
		</section>
		<!-- About Intro Section End -->

		<!-- About Timeline Begin -->
		<section class="TimeLine">
			<div class="container">
				<!-- Timeline Header Begin -->
				<div class="timeline-head w-100 text-center py-5 wow fadeIn" data-wow-duration="1s">
					<h3 class="card-title">{% translate "Timeline" %}</h3>
				</div>
				<!-- Timeline Header End -->

				<div class="row">
					<div class="col-md-12">
						<!-- Timeline Begin -->
						<div class="main-timeline">
							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">{% translate "April 06, 2020" %}</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">{% translate "Website" %}</h3>
									<p class="description">
										{% translate "The Full Completion of al3wn website" %}.
									</p>
									<h6 class="thank">{% translate "Thanks to : AM6 & Brainean" %}</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">{% translate "Feb 13, 2020" %}</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">{% translate "FB" %}</h3>
									<p class="description">
										{% translate "Making the facebook page for al3wn at the name of" %} AL3wnPage.
									</p>
									<h6 class="thank">{% translate "Thanks to : AM6" %}</h6>
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">{% translate "On It" %}</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">{% translate "Marketing" %}</h3>
									<p class="description">
										{% translate "Marketing for al3wn." %}
									</p>
									<!-- <h6 class="thank">Thanks to : lorem</h6> -->
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

							<!-- Block Begin -->
							<div class="timeline wow fadeIn" data-wow-duration="1s">
								<!-- Block Icon -->
								<span class="timeline-icon"></span>

								<!-- Block Year -->
								<span class="year">{% translate "Not yet" %}</span>

								<!-- Block Content Begin -->
								<div class="timeline-content">
									<h3 class="title">{% translate "Reviews" %}</h3>
									<p class="description">
										{% translate "Collecting Reviews and feedbacks" %}
									</p>
									<!-- <h6 class="thank">Thanks to : lorem</h6> -->
								</div>
								<!-- Block Content End -->
							</div>
							<!-- Block End -->

						</div>
						<!-- Timeline End -->
					</div>
				</div>
			</div>
		</section>
		<!-- About Timeline End -->

		<br><br>
    {% endblock content %}