<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Al-Awn | Subjects</title>

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/slick.min.css">
    <link rel="stylesheet" href="./css/slick-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/subject.css">
</head>

<body>
    <!-- Header Begin -->
    <header class="navigation">
        <!-- Navbar Begin -->
        <nav class="navbar navbar-expand-lg py-2 fixed-top" id="navbar">
            <div class="container p-0">
                <!-- Logo Area Begin -->
                <a class="navbar-brand" href="index.html">
                    <span><img src="./images/logo.png" alt="">
                        Al-Awn</span>
                </a>
                <!-- Logo Area End -->

                <!-- Hamburg Button Begin -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#CollapseNav"
                    aria-controls="CollapseNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <!-- Hamburg Button End -->

                <!-- Nav Begin -->
                <div class="collapse navbar-collapse text-center" id="CollapseNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- Home Button -->
                        <li class="nav-item active">
                            <a class="nav-link" href="./index.html">Home</a>
                        </li>

                        <!-- About Button -->
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>

                        <!-- Plan Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Plan</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="./stage1.html">Stage 1</a></li>
                                <li><a class="dropdown-item" href="./stage2.html">Stage 2</a></li>
                            </ul>
                        </li>

                        <!-- Speciality Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Speciality</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown05">
                                <li><a class="dropdown-item" href="./university.html">University</a></li>
                                <li><a class="dropdown-item" href="./secondary.html">Secondary School</a></li>
                            </ul>
                        </li>

                        <!-- Contact Button -->
                        <li class="nav-item"><a class="nav-link" href="./contact.html">Contact</a></li>
                    </ul>

                    <!-- Join Us Button Begin -->
                    <form class="form-lg-inline my-2 my-md-4 ml-lg-4 text-center">
                        <a href="./join.html" class="btn btn-solid-border btn-round-full">Join Us</a>
                    </form>
                    <!-- Join Us Button End -->
                </div>
                <!-- Nav End -->
            </div>
        </nav>
        <!-- Navbar End -->
    </header>
    <!-- Header End -->

    <!-- Main Wrapper Begin -->
    <div class="main-wrapper">
        <section class="latest mt-5">
            <div class="w-100 text-center">
                <h1>Latest Videos</h1>
            </div>
            <div class="latest-videos slider m-5">
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
                <div class="slide">
                    <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/zH3ZohGnjcg"><img
                            class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                </div>
            </div>
        </section>

        <section class="subjects mt-5">
            <div class="container">
                <ul class="d-flex justify-content-center nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-maintab1-tab" data-toggle="pill" href="#pills-maintab1"
                            role="tab" aria-controls="pills-maintab1" aria-selected="true">الصف الأول الثانوي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab2-tab" data-toggle="pill" href="#pills-maintab2" role="tab"
                            aria-controls="pills-maintab2" aria-selected="false">الصف الثاني الثانوي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-maintab3-tab" data-toggle="pill" href="#pills-maintab3" role="tab"
                            aria-controls="pills-maintab3" aria-selected="false">الصف الثالث الثانوي</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maintab1" role="tabpanel"
                        aria-labelledby="pills-maintab1-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab1-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab1" role="tab" aria-controls="pills-maintab1-subtab1"
                                    aria-selected="true">نحو</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab2" role="tab" aria-controls="pills-maintab1-subtab2"
                                    aria-selected="false">قراءة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab1-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab1-subtab3" role="tab" aria-controls="pills-maintab1-subtab3"
                                    aria-selected="false">بلاغة</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab1-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab1-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab1-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab2" role="tabpanel" aria-labelledby="pills-maintab2-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab2-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab1" role="tab" aria-controls="pills-maintab2-subtab1"
                                    aria-selected="true">قصة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab2" role="tab" aria-controls="pills-maintab2-subtab2"
                                    aria-selected="false">بلاغة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab2-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab2-subtab3" role="tab" aria-controls="pills-maintab2-subtab3"
                                    aria-selected="false">نصوص</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab2-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab2-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab2-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-maintab3" role="tabpanel" aria-labelledby="pills-maintab3-tab">
                        <ul class="sub nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-maintab3-subtab1-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab1" role="tab" aria-controls="pills-maintab3-subtab1"
                                    aria-selected="true">ادب</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab2-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab2" role="tab" aria-controls="pills-maintab3-subtab2"
                                    aria-selected="false">نحو</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maintab3-subtab3-tab" data-toggle="pill"
                                    href="#pills-maintab3-subtab3" role="tab" aria-controls="pills-maintab3-subtab3"
                                    aria-selected="false">بلاغة</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-maintab3-subtab1" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab1-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab3-subtab2" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab2-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="pills-maintab3-subtab3" role="tabpanel"
                                aria-labelledby="pills-maintab3-subtab3-tab">
                                <section class="second">
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/zH3ZohGnjcg"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Ballad</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//player.vimeo.com/video/26890275"><img class="videoThumb"
                                                    src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Kumru Orchestral</h2>
                                    </article>

                                    <article class="video">
                                        <figure>
                                            <a class="fancybox fancybox.iframe"
                                                href="//www.youtube.com/embed/paG__3FBLzI"><img class="videoThumb"
                                                    src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
                                        </figure>
                                        <h2 class="videoTitle">Mesopotamia</h2>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Section Begin -->
        <footer class="footer wow fadeIn" data-wow-duration="1s">
            <div class="container">
                <!-- Top Footer Begin -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="widget">
                            <h4 class="text-capitalize mb-4">Al-Awn</h4>
                            <ul class="list-unstyled footer-menu lh-35">
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="widget">
                            <h4 class="text-capitalize mb-4">Quick Links</h4>
                            <ul class="list-unstyled footer-menu lh-35">
                                <li><a href="./about.html">About</a></li>
                                <li><a href="./price.html">Price</a></li>
                                <li><a href="./stage1.html">Plan-Stage1</a></li>
                                <li><a href="./stage2.html">Plan-Stage2</a></li>
                                <li><a href="./secondary.html">Speciality - Secondary</a></li>
                                <li><a href="./university.html">Speciality - University</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="widget">
                            <div class="logo mb-4">
                                <img src="./images/logo.png" width="180px" alt="logo">
                            </div>
                            <h6><a href="mailto:al.3wn.6.0@gmail.com">Email : al.3wn.6.0@gmail.com</a></h6>
                            <h6>Mobile : +20 101 774 7223</h6>
                            <h6>Whatsapp : +20 101 774 7223</h6>
                            <h6>Vodafone Cash : +20 101 774 7223</h6>
                        </div>
                    </div>
                </div>
                <!-- Top Footer End -->

                <!-- Bottom Footer (Copyrights) Begin -->
                <div class="footer-btm pt-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                &copy; Copyright Reserved to <span class="text-color">Al-Awn</span> | Made By <a
                                    href="https://www.facebook.com/Brainean-Software-Company-109430733996045"
                                    target="_blank">Brainean</a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-left text-lg-right">
                            <ul class="list-inline footer-socials">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook mr-2"></i>Facebook</a>
                                </li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter mr-2"></i>Twitter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Bottom Footer (Copyrights) End -->
            </div>
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- ========= JavaScript ========= -->
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/wow.min.js"></script>
    <script src="./js/script.js"></script>

</body>

</html>
