{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<section class="intro">
	<div class="container">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{% translate "Join Now" %} <small class="text-muted">{% translate "(This will take no more than 4 minute to fill out💪✅🔥)" %}</small></legend>
				{{ form|crispy }}
				<button class="btn btn-outline-info" type="submit">{% translate "Send" %}</button>
			</fieldset>
		</form>
	</div>
</section>	
{% endblock content %}