{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<section class="intro">
	<div class="container">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{% translate "Log In" %}</legend>
				{{ form|crispy }}
				<button class="btn btn-outline-info" type="submit">{% translate "Log In" %}</button>
				<small class='text-muted ml-2'>
					<a href="{% url 'Password Reset' %}">{% translate "Forget Password" %}?</a>
				</small>
			</fieldset>
			<div class="border-top pt-3">
				<small class="text-muted">{% translate "Do Not have an Account?" %} <a class="ml-2" href="{% url 'Register' %}">{% translate "Sign Up" %}</a></small>
			</div>
		</form>
	</div>
</section>
{% endblock content %}