{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<br>
<section class="intro">
	<div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <br>
            <h3>{% trans "Your Password has been set" %}</h3>
            <div class="border-top pt-3">
              <small class="text-muted"> <a class="ml-2" href="{% url 'Login' %}">{% translate "Sign In" %}</a></small>
            </div>
          </div>
        </div>
      </section>
    </div>
    <br>
</section>
{% endblock content %}