{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
    {% block content %}
    <br><br>
       <div class="wrap" id="profile">
                <div class="info">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12">
                            <div class="user-card-full">
                                <div class="row m-l-0 m-r-0">
                                    <div class="col-12 bg-c-lite-green user-profile">
                                        <div class="card-block text-center">
                                            <div class="m-b-25"> 
                                                <div style="background-image: url(https://img.icons8.com/bubbles/100/000000/user.png)" class="img"></div>
                                            </div>
                                            <h6 class="f-w-600 text-white">Mahmoud Yasser</h6>
                                            <p class="text-white">Student</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <form class="form validate-form" id="Career">
                <span class="form-title">
                    Update Info
                </span>
                <div class="wrap-input validate-input" data-validate="First Name is required">
                    <span class="label-input">First Name*</span>
                    <input class="input" type="text" name="first" placeholder="Enter your first name">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Last Name is required">
                    <span class="label-input">Last Name*</span>
                    <input class="input" type="text" name="last" placeholder="Enter your last name">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Username is required">
                    <span class="label-input">Username* (Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.)</span>
                    <input class="input" type="text" name="username" placeholder="Enter your username">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Region is required">
                    <span class="label-input">Region*</span>
                    <input class="input" type="text" name="region" placeholder="Enter your region">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input">Email*</span>
                    <input class="input" type="text" name="email" placeholder="Enter your email addess">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input input-select">
                    <span class="label-input">Gender*</span>
                    <div>
                        <select class="selection-2" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Phone number is required">
                    <span class="label-input">Phone*</span>
                    <input class="input" type="text" name="phone" placeholder="Enter your phone number">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="National ID is required">
                    <span class="label-input">National ID*</span>
                    <input class="input" type="text" name="national" placeholder="Enter your national id">
                    <span class="focus-input"></span>
                </div>
                <div id="div_id_personal_image" class="form-group"> 
                    <label for="id_personal_image" class="requiredField">
                        Personal image*
                    </label>
                    <div> 
                        <input type="file" name="personal_image" accept="image/*"
                            class="clearablefileinput form-control-file" required id="id_personal_image"> 
                    </div>
                </div>
                <div class="container-form-btn">
                    <div class="wrap-form-btn">
                        <div class="form-bgbtn"></div>
                        <button class="form-btn">
                            <span>
                                Update
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="dropDownSelect1"></div>
    {% endblock content %}
